telethon
dnspython
pymongo
pytz
sqlalchemy==1.3.23
psycopg2-binary
requests
gitpython
heroku3
coffeehouse
gtts
cloudmersive_virus_api_client
apscheduler
youtube-search-python
redis
google_trans_new
search_engine_parser
youtube_search
youtube_dl
Pillow==8.1.1
wget
